{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="container">
    <div class="border p-2">
        <img id="size" src="{{ website.landing_page.url }}"> 
        <p class="fs-5"><span class="fst-italic text-warning fs-4">Name of Site: </span>{{ website.title }}</p>
        <p class="fs-5"><span class="fst-italic text-warning fs-4">Description: </span> {{ website.description }}</p>
        <p class="fs-5"><span class="fst-italic text-warning fs-4">Created by </span><a class="text-primary" style="text-decoration: none;" href="">@{{ website.author }}</a><span class="fst-italic text-warning">on</span> {{ website.uploaded_on }}</p>
        <div>
            <p class="text-center">Ratings and Review</p>
            <div>
                <div class="d-flex justify-content-center">
                    <div class="m-2">
                        <button type="button" class="btn btn-info m-2" style="height: 100px; width: 100px; border-radius: 50%;">{{ website.design.all.count }}/10</button>
                        <p>Design</p>
                    </div>
                    <div class="m-2">
                        <button type="button" class="btn btn-info m-2" style="height: 100px; width: 100px; border-radius: 50%;">{{ website.usability.all.count }}/10</button>
                        <p>Usability</p>
                    </div>
                    <div class="m-2">
                        <button type="button" class="btn btn-info m-2" style="height: 100px; width: 100px; border-radius: 50%;">{{ website.content.all.count }}/10</button>
                        <p>Content</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <form method="POST" action="{% url 'usability' website.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button style="background-color: transparent; border: none;" class="btn btn-outline-info " type="submit">Design vote</button>
                    </form>
                    <form method="POST" action="{% url 'design' website.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button style="background-color: transparent; border: none;" class="btn btn-outline-info " type="submit">Usability vote</button>
                    </form>
                    <form method="POST" action="{% url 'content' website.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button style="background-color: transparent; border: none;" class="btn btn-outline-info " type="submit">Content vote</button>
                    </form>
            
                </div>
            </div>
        </div>
    
    </div>


    <div class="">
        <h3 class="text-center">Comments {{ website.comments.count.all }}</h3>
        {% for comment in comments %}

        <div class="border p-2">
            <p><a class="text-primary" style="text-decoration: none;" href="{% url 'profile' website.author.profile.pk %}">@{{ comment.author }}</a></p>
            <p><span class="fst-italic text-muted">On: </span>{{ comment.created_on }}</p>
            <p><span class="fst-italic text-muted">Said: </span>{{ comment.comment }}</p>
        </div>

        {% endfor %}
    </div>

    <div>
        <form method="POST">
            {% csrf_token %}

            {% bootstrap_form form %}
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-sm" value="Submit">
            </div> 
        </form>
    </div>
   
</div>

{% endblock %}