{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}

<div class="container con">
    <div class="d-flex flex-row">
        <p class="top"><span class="latest">Site of the day </span><span class="text-info uploaded">{{ site_of_day.uploaded_on }}</span></p>
        <span class="pr"><a class="btn btn-outline-primary m-2" href="{% url 'website-detail' site_of_day.pk %}">Visit Site</a></span>
    </div>
    <a class="" href=""><img id="sizemore" src="{{ site_of_day.landing_page.url }}"></a>
    <div class="pb-5">
        <div class="">
            <div>
                <div class="text-center centered">
                    <h1>{{ site_of_day.title }}</h1>
                    <p class="fw-bold"><span class="text-info">by </span>{{ site_of_day.author }}<span class="text-info"> from </span>{{ site_of_day.country }}</p>
                    <p>{{ site_of_day.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap">
        {% for site in site_list %}
        <div class="card-size">
            <div>
                <a class="" href="{% url 'website-detail' site.pk %}"><img id="size" style="width: 26.5vw;" src="{{ site.landing_page.url }}"></a>
            </div>    
            <div>
                <a class="" href="{% url 'website-detail' site.pk %}">{{ site.title }}</a>
                <p><span class="text-info">By </span><a class="text-primary" style="text-decoration: none;" href="">{{ site.author }}</a></p>
                <p><span class="text-info">From </span>{{ site.country }}</p>
            </div>
        </div>

        {% endfor %}
    </div>
    <div id="post1">
        <form class="form-horizontal form_middle" enctype='multipart/form-data' method="POST"  action=" {% url 'site_of_day' %}">
            {% csrf_token %}

            {% bootstrap_form form %}
            <div class="form-group">
                <input id="post2" type="submit" class="btn btn-primary btn-sm" value="Submit">
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'sys.js'%}"></script>
{% endblock %}
