{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}

<div class="container">
    <a class="" href=""><img id="sizemore" src="{{ site_of_day.landing_page.url }}"></a>
    <div class="pb-5">
        <div class="">
            <div>
                <p><span class="latest">Latest Site Upload </span><span class="text-info uploaded">{{ site_of_day.uploaded_on }}</span></p>
                <div class="text-center centr">
                    <h1>{{ site_of_day.title }}</h1>
                    <p class="fw-bold"><span class="text-info">by </span>{{ site_of_day.author }}<span class="text-info"> from </span>{{ site_of_day.country }}</p>
                    <p>{{ site_of_day.description }}</p>
                </div>
            </div>
                <h3 class="text-center p-2">Rating and Review</h3>
                <div class="d-flex justify-content-center">
                    <div class="m-2">
                        <button type="button" class="btn btn-info m-2" style="height: 100px; width: 100px; border-radius: 50%;">x</button>
                        <p>Usability</p>
                    </div>
                    <div class="m-2">
                        <button type="button" class="btn btn-info m-2" style="height: 100px; width: 100px; border-radius: 50%;">y</button>
                        <p>Technologies</p>
                    </div>
                    <div class="m-2">
                        <button type="button" class="btn btn-info m-2" style="height: 100px; width: 100px; border-radius: 50%;">z</button>
                        <p>Rating</p>
                    </div>
                </div>
        </div>
        <div>
            <button class="btn btn-outline-primary m-2">Visit Site</button>
        </div>
    </div>
    <div class="d-flex flex-wrap">
        {% for site in site_list %}
        <div class="m-2">
            <div>
                <a class="" href="{% url 'website-detail' site.pk %}"><img id="size" src="{{ site.landing_page.url }}"></a>
            </div>    
            <div>
                <a class="" href="{% url 'website-detail' site.pk %}">{{ site.title }}</a>
                <p><span class="text-info">By </span><a class="text-primary" style="text-decoration: none;" href="">{{ site.author }}</a></p>
                <p><span class="text-info">From </span>{{ site.country }}</p>
            </div>
        </div>

        {% endfor %}
    </div>
    <div id="post1">
        <form class="form-horizontal form_middle" enctype='multipart/form-data' method="POST">
            {% csrf_token %}

            {% bootstrap_form form %}
            <div class="form-group">
                <input id="post2" type="submit" class="btn btn-primary btn-sm" value="Submit">
            </div> 
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'sys.js'%}"></script>
{% endblock %}
