.margin-left{
    margin-left: 2vw;
}
.latest{
    font-size: 2rem;
}
.uploaded{
    font-size: 1.5rem;
}
#size{
    width: 25vw;
    height: 40vh;
}
#sizemore{
    width: 98vw;
    height: 80vh;
}
.pr{
    margin-left: 30vw;
}
.card-size{
    width: 25vw;
    margin-left: 2vw;
}